<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
<add connectionString="data source=DESKTOP-HNCS0PH\AQUIB;initial catalog=CloudComputing;integrated security=true;" name="cloud"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
